{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PlantPal</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body>

    <nav id="site-nav">
        <ul class="navList">
            <li class="navList__route"><a href="{% url 'backendapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'backendapp:watering' %}">Thirsty Plants</a></li>
            <li class="navList__route"><a href="{% url 'backendapp:plant_form' %}">Add Plant</a></li>
            <li class="navList__route"><a href="{% url 'backendapp:logout' %}">Log Out</a></li>
        </ul>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
</body>

</html>