* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url("../images/geometric-leaves.png"); */
    background-image: url("../images/newsucculents.png");
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
}

.plant-images {
    max-width: 200px;
}

.hide-plant-images {
    visibility: hidden;
}

#app-title {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 70px;
    margin-top: 30px;
}

.logo-login {
    max-height: 120px;
}

.title-logo-flexbox {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: rgba(255,255,255,0.9);
}

@media only screen and (max-width: 600px) {
    #app-title {
        font-family: 'Architects Daughter', sans-serif;
        font-size: 60px;
        margin-top: 20px;
    }

    .logo-login {
        max-height: 100px;
    }

    .title-logo-flexbox {
        display: flex;
        flex-direction: row;
        padding: 20px 20px 20px 40px;
        background: rgba(255,255,255,0.9);
    }

    .login-form-container {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

  }

.logo {
    height: 95px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 7px;
    background-color: rgb(255, 255, 255);
}

/* Don't have an account? link at bottom of login */
a.register-link {
    /* text-decoration: none; */
    color: #000080;
    margin-top: 20px;
}

.logo:hover {
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2);
    height: 95px;
    border-radius: 50%;
    padding: 7px;
    background-color: rgb(255, 255, 255);
}

.thirsty-plants {
    font-weight: 600;
}

.home-button {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Water Me button on thirsty plants list */
.water-me-list-button {
    margin-top: 20px;
}

.page-heading{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    font-weight: 700;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.plant-card-flexbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
}

.plant-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
    text-align: center;
    background-color: white;
    margin-bottom: 25px;
    background: rgba(255,255,255,0.9);
}


.details-buttons-flexbox {
    display: flex;
    flex-direction: row;
}

.list-buttons-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Div that holds the "days" and "weeks" fields in form */
.days-weeks {
    display: flex;
    flex-direction: row;
}

#watering-guide-button {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 12px;
    padding: 3px 6px;
}

/* the div that the form is in  */
.form-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* class on form itself (and details template) */
.add-edit-form {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    background: rgba(255,255,255,0.9);
}

/* div that contains upload photo button and hidden div where confirm message appears */
.confirm-message {
    color: #56CC9D;
}

.upload-confirm-flexbox {
    display: flex;
    flex-direction: row;    
}

.save-cancel-flexbox {
    display: flex;
    flex-direction: row;
}

