* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url("../images/geometric-leaves.png"); */
    background-image: url("../images/succulents.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

#app-title {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 70px;
}

/* Don't have an account? link at bottom of login */
a.register-link {
    /* text-decoration: none; */
    color: #000080;
    margin-top: 20px;
}

.title-logo-flexbox {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: rgba(255,255,255,0.9);
}

.logo {
    max-height: 75px;
}

.no-thirsty-today {
    padding-top: 50px 
}
/* Water Me button on thirsty plants list */
.water-me-list-button {
    margin-top: 20px;
}

.page-heading{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    font-weight: 700;
    background: rgba(255,255,255,0.9);
    padding: 20px;
}

.plant-card-flexbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
}

.plant-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: white;
    margin-bottom: 25px;
    background: rgba(255,255,255,0.9);
}
/* .details-container */

.details-buttons-flexbox {
    display: flex;
    flex-direction: row;
}

.list-buttons-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Div that holds the "days" and "weeks" fields in form */
.days-weeks {
    display: flex;
    flex-direction: row;
}

/* the div that the form is in  */
.form-container {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    /* background-color: white;    */
}

/* class on form itself (and details template) */
.add-edit-form {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 20px;
    /* background-color: white; */
    background: rgba(255,255,255,0.9);
}

.save-cancel-flexbox {
    display: flex;
    flex-direction: row;
}

