{% extends 'shared/base.html' %}

{% block content %}
    <h1>My Houseplants</h1>

    <div class="plant-card-flexbox">
    {% for plant in user_plants %}
        <p>
            {{ plant.name }} 
            <br>
             {{plant.description}}
                {% comment %} <form action="{% url 'backendapp:plant' plant.id %}" method="post"> {% endcomment %}
        </p>
            <form action="{% url 'backendapp:plant' plant.id %}" method="GET">
            {% csrf_token %}
            <button class="button">Details</button>
            </form>
            <form action="{% url 'backendapp:plant' plant.id %}" method="POST">
            {% csrf_token %}
            <button onclick="return alert('Your plant has been watered!')" id="water--{{ plant.name }}"
            class="water-button">Water</button>
            </form>

    {% endfor %}
    </div>
{% endblock %}