{% extends 'shared/base.html' %}

{% block content %}
    <h1 class="page-heading">My Houseplants</h1>
    
    <div class="plant-card-flexbox">
    {% for plant in user_plants %}
    <div class="plant-card">
        <p>{{ plant.name }} the {{plant.description}}</p>
        <p>{{ days_til_watering }} day(s) until {{ plant.name }} is thirsty again.</p>

                {% comment %} <form action="{% url 'backendapp:plant' plant.id %}" method="post"> {% endcomment %} 
        {% comment %} <div class="details-buttons-flexbox"> {% endcomment %}
            <div class="list-buttons-flexbox">
            <form action="{% url 'backendapp:plant' plant.id %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-primary">Details</button>
            </form>
            <form action="{% url 'backendapp:plant' plant.id %}" method="POST">
            {% csrf_token %}
            <button onclick="return alert('Your plant has been watered!')" id="water--{{ plant.name }}"
            class="btn btn-info">Water Me</button>
            </form>
            </div>
            </div>
        {% comment %} </div> {% endcomment %}
    {% endfor %}
    </div>
{% endblock %}