{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ plant.name }}</h1>
    <ul>
        <li>Name: {{ plant.name }}</li>
        <li>Species/Description: {{ plant.description }}</li>
        <li>Plant Type: {{ plant_type.plant_type }}</li>
        <li>Water every {{ plant.days }} days {{ plant.weeks }} weeks</li>
        <li>Notes: {{ plant.notes }}</li>
        <li>Days until next watering: {{ days_til_watering }}</li>
    </ul>
        <form action="{% url 'backendapp:home' %}" method="GET">
            {% csrf_token %}
            <button>Home</button>  
        </form>
        <form action="{% url 'backendapp:plant_edit_form' plant.id %}" method="GET">
            <button>Edit</button>
        </form>

        </form>
{% endblock %}