{% extends 'shared/base.html' %}

{% block content %}
<div class="form-container">
    <h1 class="page-heading">Hello, {{ current_user.username }}.</h1>

    {% if thirsty_plants %}
        <h2>Thirsty Plants for {{ monthday }}</h2>
        <ol>
        {% for plant in thirsty_plants %}
        <div class="plant-card">
            <li> {{ plant.name }} the {{plant.description}} is thirsty!</li>
            <form class="form-event-listener" action="{% url 'backendapp:plant' plant.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-info water-me-list-button" id="water--{{ plant.name }}">Water Me!</button>
         </form>
        </div>
        {% endfor %}
        </ol>
</div>        

    {% else %}
        
        <h3 class="no-thirsty-today">No thirsty plants today.</h3>
        <form action="{% url 'backendapp:plants' %}" method="GET">
        {% csrf_token %}
        <button class="btn btn-primary">Home</button>
        </form>
</div>
    {% endif %}

{% endblock %}


        