{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ plant.name }}</h1>
    <div class="details-container">
        <p>Name: {{ plant.name }}</p>
        <p>Species/Description: {{ plant.description }}</p>
        <p>Plant Type: {{ plant_type.plant_type }}</p>
        <p>Water every {{ plant.days }} days {{ plant.weeks }} weeks</p>
        <p>Notes: {{ plant.notes }}</p>
        <p>Days until next watering: {{ days_til_watering }}</p>
    </div>
        <form action="{% url 'backendapp:plants' %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-primary">Home</button>  
        </form>
        <form action="{% url 'backendapp:plant_edit_form' plant.id %}" method="GET">
            <button class="btn btn-warning">Edit</button>
        </form>

        </form>
{% endblock %}