{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h1>Welcome to Your Plants</h1>

    <ol>
    {% for plant in user_plants %}
        <li>
            {{ plant.name }} 
            <br>
             {{plant.description}}
                {% comment %} <form action="{% url 'backendapp:plant' plant.id %}" method="post"> {% endcomment %}
        {% comment %} <a href="{% url 'libraryapp:book' book.id %}"><button id="detail--{{ plant.id }}">Details</button> {% endcomment %}
            <form action="{% url 'backendapp:plant' plant.id %}" method="GET">
            {% csrf_token %}
            <button>Details</button>
        </form>
        </li>

    {% endfor %}
    </ol>
  </body>
</html>